<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.fundyou1.fund.mapper.FundMapper">

    <select id="getFundingItemsInfo" resultType="com.ssafy.fundyou1.fund.dto.FundingItemDto">

        select item_id, cart_item_cnt
        from cart_item where cart_id = #{cart_id}

    </select>

</mapper>